/* ---------------------------------
   RESET + VARIABLES
---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-main: 'Source Sans Pro', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-btn: #ff6565;

    --max-width: 1000px;
}

/* ---------------------------------
   GLOBAL
---------------------------------- */

body {
    font-family: var(--font-main);
   background-image: url(images/background.png);
}

.container {
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
}


/* NAVIGATION */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.logo img {
    height: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-list a {
    text-decoration: none;
    color:#ffffff;
    font-weight: 600;
    transition: opacity .3s;
}

.nav-list a:hover {
    opacity: 0.8;
    color: #ff6565;
}


/* HERO CONTENT */
.hero {
    text-align: center;
    padding-top: 100px;
}

.hero h1 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
   
}
 p{
    color: #ffffff;
}

.hero-subtitle {
    margin: 12px 0 25px;
    font-size: 16px;
}
.btn {
    display: inline-block;
    background: var(--color-btn);
    color: #ffffff;        /* white text */
    padding: 12px 35px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: opacity .3s ease;   /* ease 0.3s */
}

.btn:hover {
    opacity: 0.8;   /* effect on hover */
}


.hero-description {
    margin-top: 35px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.6;
    font-family: sans-serif;
}

/* ---------------------------------
   RESPONSIVE (MOBILE)
---------------------------------- */

@media (max-width: 768px) {

    .nav-list {
        display: none; /* hamburger comes in task 8 */
    }

    .hero h1 {
        font-size: 26px;
    }

    .hero-description {
        font-size: 14px;
    }
}
