/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*BODY*/
body{
    
    background-image: url(images/background.png);
    background-repeat: no-repeat;
  background-size: cover;
  

}

/*Navbar*/
.navbar{
    width: 100%;
    padding: 25px 60px;
    position: left;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.log span{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;

}
.nav-links a {
    color:#ffffff;
    margin-left: 25px;
    font-size: 15px;
    text-decoration:none;
     transition: 0.5s ease;
}

.nav-links a:hover{
    color:#FF6565;

    
}
.hero{
    height:100vh;
    position: relative;
}


/* HERO TEXT */
.hero-content{
    position: relative;
    z-index: 2;
    text-align: center;
    max-width:680px;
    margin:auto;
    top:25%;
    padding: 0 20px;


}
.hero-content h1 {
    color:#ffffff;

}

.hero-content p{
    font-size: 16px;
    margin-bottom: 25px;
    color: #ffffff;
}

/*CTA BUTTON*/
.cta-btn{
    padding: 15px 35px;;
    background-color: #e63939;
    color: #ffffff;
    border: none;
    border-radius: 22px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
    transition: 0.3s ease;
}
.cta-btn:hover{

    background-color: #FF6565;
    opacity: 0.9;


}
/* BOTTOM DESCRIPTION */
.description {
    font-size: 14px;
    line-height: 1.6;
    max-width: 600px;
    margin: auto;
}

/* -- RESPONSIVE BREAKPOINTS-- */
/* Tablets */
@media (max-width: 992px) {
    .navbar {
        padding: 20px 30px;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-content {
        top: 30%;
    }
}
/* Large Phones */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* hide menu for mobile */
    }
    /* HIDE CHECKBOX */
#menu-toggle {
    display: none;
}

/* HAMBURGER ICON (visible on mobile) */
.hamburger {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 30;
}
/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: rgba(5, 10, 20, 0.95);
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    transition: right 0.3s ease;
    z-index: 25;
}


    .navbar {
        padding: 20px;
    }

   

    .hero-content h1 {
        font-size: 26px;
    }

    .hero-content p {
        font-size: 15px;
    }

    .cta-btn {
        padding: 12px 30px;
        font-size: 15px;
    }

    .hero-content {
        top: 32%;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    .hero {
        height: 110vh;
    }

    .hero-content {
        top: 35%;
    }

    .hero-content h1 {
        font-size: 22px;
        line-height: 1.3;
    }

    .hero-content p {
        font-size: 14px;
    }

    .description {
        font-size: 13px;
        line-height: 1.5;
    }

    .cta-btn {
        padding: 12px 28px;
        font-size: 14px;
    }
}